body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:#fbfbfb;
}
.wrapper-sec{
    margin-left: 75px;
}
h3{
    color:#F66C39;
    border-bottom: 0.3px solid lightgrey;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}
