nav{
    background:  #E7E6E6;
}

input#search-bar{
  margin: 0 auto;
  width:93%;
  font-size: 1rem;
  border-radius: 6rem;
    // border: 1px solid rgb(250, 250, 160);
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }
 .search-icon:before {
      content: 'ï€‚';
      color: #FA5316;
      cursor: pointer;
      position: relative;
      font-family: 'fontawesome';
      top: 0;
      right: 2rem;
    }
