.right-sidebar{
    width: 100%;
    border-left: 1px solid #CECECE;
}
.right-sidebar-ads{
    width: 100%;
    object-fit: contain;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    height: auto;
}
